.selectContainer {
  display: flex;
  flex-direction: column;

  .select {
    padding: 18.5px 16px;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    outline: 1px solid var(--uiKitBorderColor);
    font-weight: 500;

    &[data-p-focus="true"] {
      outline: 1px solid var(--accentColor);
      & [aria-expanded="true"] {
        transform: rotate(180deg);
      }
    }
    &:has(+ .importantMessage) {
      margin-bottom: 8px;
    }

    .selectPanel {
      min-width: auto;
      margin-top: 10px;
      // background-color: var(--uiKitBackgroundColor);
      background-color: white;
      border-radius: 12px 12px 12px 12px;
      box-shadow: 0 0 24px 0 rgba(90, 89, 89, 0.1);
      border: none;

      overflow: visible;
      left: 100% !important;
      transform: translateX(-100%);
      [class="p-dropdown-items"] {
        display: flex;
        flex-direction: column;

        li {
          &:first-child {
            border-radius: 12px 12px 0 0;
          }
          display: flex;
          align-items: center;
          padding: 8px;

          &[data-p-highlight="true"] {
            background-color: var(--secondaryAccentColor);
          }
          &:not(:last-child) {
            position: relative;

            margin-bottom: 4px;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: calc(100% - 16px);
              height: 2px;
              background-color: var(--uiKitBorderColor);
            }
          }
        }
      }
    }
  }
  .label {
    margin-bottom: 8px;
  }
  .importantMessage {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &[data-disabled="true"] {
    .label {
      margin-bottom: 12px;
    }
    .select {
      background-color: var(--whitesmoke-color);
      [class="p-dropdown-trigger"] {
        display: none;
      }
    }
  }
}
