.listContainer {
  &:has([data-lack]) {
    [class="os-scrollbar-track"] {
      display: none;
    }
  }
  [data-lack] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  [data-lack] {
    text-align: center;
  }
  max-height: 900px;
  padding-right: 12px;
  gap: 10px;
  padding-bottom: 40px;

  @media (max-width: 1220px) {
    display: grid;
    grid-template-columns: repeat(8, minmax(100px, 200px));
  }
}
.listItem {
  position: relative;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 500;
  & > button {
    width: 100%;
  }
  &.active {
    pointer-events: none;
    cursor: default;
    background-color: var(--secondaryAccentColor);
  }
  @media (hover: hover) {
    &:hover:has(button:not(:disabled)) {
      background-color: var(--secondaryAccentColor);
    }
  }
  &:has(button:disabled) {
    cursor: default;
    button {
      cursor: default;
    }
  }
}

.itemButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
