body:has(.container) {
  overflow: hidden;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: 10px;
  .header {
    padding-block: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sender {
      display: flex;
      align-items: center;
      gap: 12px;
      color: #fff;

      .avatar {
        min-height: 40px;
        border-radius: 50%;
        padding: 8px;
        background-color: #fff;
      }
      .senderInfo {
        .senderName {
          display: block;
          font-weight: 600;
          margin-bottom: 6px;
        }
        .senderTime {
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
    .buttons {
      margin-top: -15px;
      .download {
        margin-right: 24px;
      }
    }
  }
  .body {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.supportIcon {
  font-weight: 700;
  width: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #daf4ff;
}
