.exchangeRate {
  .exchangeRateTitle {
    display: flex;
    justify-content: space-between;

    padding-block: 8px;
    font-size: 0.75rem;
    .exchangeRateText {
      color: var(--secondaryTextColor);
    }
    .exchangeRateValue {
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;
      text-align: right;
      font-weight: 600;
      &[data-color="green"] {
        color: var(--accentColor);
      }
    }
    &:not(:last-child) {
      border-bottom: 1px dashed var(--secondaryTextColor);
    }
  }
}

.currencyExchange {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  [data-name="divider-currency"] {
    flex: 0 0 64px;
    align-self: flex-end;
    margin-bottom: 12px;
  }
  @media (max-width: 610px) {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 50vw;
    position: relative;
    [data-name="divider-currency"] {
      position: absolute;
      top: calc(50% + 3px);
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      width: 48px;
      height: 24px;
    }
  }
  .currency {
    flex: 0 0 calc(50% - 32px);
    .currencyTitle {
      font-weight: 500;
      margin-bottom: 14px;
      text-align: left;
      max-width: 50vw;
    }
    .currencyInfo {
      display: flex;
      align-items: center;
      gap: 12px;
      box-shadow: 0 0 16px 0 rgba(40, 46, 34, 0.08);
      border-radius: 40px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      .currencyIcon {
        padding: 8px;
        border-radius: 50%;
        box-shadow: 0 0 8px 0 rgba(40, 46, 34, 0.12);
      }
      .currencyName {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
  }
}

.container {
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 0px 24px 0px #5a59591a;
  background-color: var(--blockColor);
}
