.window {
  width: min(380px, 100%);
  .container {
    display: flex;
    align-items: center;
    gap: 15px;
    &:has(.loadingEnded) {
      flex-direction: column;
    }
    .info {
      flex-grow: 1;
      .progress {
        width: 100%;
        border-radius: 10px;
        height: 15px;
        border: 2px solid var(--accentColor);
        color: var(--contrastColor);
      }
    }
    svg {
      color: var(--accentColor);
      width: min(7vw, 30px);
      height: auto;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.loadingEnded {
  text-align: center;
  h2 {
    font-weight: bold;
  }
}
