.uploadIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--accentColor);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}
