{% extends 'CRM_ADMIN/base.html' %}

{% block title %}Последние входящие смс{% endblock %}

{% block content %}
<div class="page-title-box">
    <div class="page-title-right">
    </div>
    <h4 class="page-title">Последние входящие смс</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="position-relative">
                    <table class="table table-centered">
                        <thead>
                            <tr>
                                <th>Партнер</th>
                                <th>Авто</th>
                                <th>Отправитель</th>
                                <th>Получатель</th>
                                <th>Дата</th>
                                <th>Сообщение</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exec in execs %}
                            <tr class="table-primary">
                                <td> {{ exec.car__partner__name }} </td>
                                <td> {{ exec.car__car_number }} </td>
                                <td> {{ exec.sender }}</td>
                                <td> {{ exec.receiver }}</td>
                                <td> {{ exec.date }}</td>
                                <td> {{ exec.message }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}