.os-scrollbar-track {
	width: 4px;
	border-radius: 20px;
	background-color: var(--whitesmoke-color) !important;
	width: 100%;
}

.os-scrollbar-handle {
	background-color: var(--green-color) !important;
	border-radius: 20px;
}
