.os-scrollbar-track {
  width: 4px;
  border-radius: 20px;
  background-color: var(--uiKitBackgroundColor) !important;
  width: 100%;
}

.os-scrollbar-handle {
  background-color: var(--accentColor) !important;
  border-radius: 20px;
}
