:root {
  --width-container: 1240px;
  --inline-padding-container: 20px;

  --font-family: "Inter";
  --font-size: 16px;
  --font-weight: 600;

  --button-radius: 40px;

  --green-color: #7dbd42;
  --lime-color: #e9ffd6;
  --darkgray-color: #292929;
  --gray-color: #5c5c5c;
  --lightgray-color: #c3c3c3;
  --palegray-color: #e2e2e2;
  --white-color: #fff;
  --whitesmoke-color: #f4f4f4;
  --lightgreen-color: #74cd21;

  --textColor: var(--darkgray-color);
  --secondaryTextColor: var(--gray-color);
  --accentColor: var(--green-color);
  --secondaryAccentColor: var(--lime-color);
  --bodyColor: var(--white-color);
  --blockColor: var(--white-color);
  --contrastColor: var(--white-color);
  --uiKitBackgroundColor: var(--whitesmoke-color);
  --uiKitBorderColor: var(--lightgray-color);
  --buttonHoverColor: var(--lightgreen-color);
  --buttonDisabledColor: var(--palegray-color);

  --negative-color: #ff0000;
  --lightpink: #fff4f4;
  --backdrop: rgba(0, 0, 0, 0.84);

  --changeDirectionSize: 1220px;
}
