.chooseCurrency {
	display: flex;

	border-radius: 8px;

	background-color: var(--whitesmoke-color);

	margin-bottom: 20px;
	@media (max-width: 360px) {
		flex-direction: column;
	}
}
.chooseCurrencyCrypto,
.chooseCurrencyBank {
	border-radius: inherit;
	font-weight: 500;
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 8px;
	&.active {
		color: var(--white-color);
		background-color: var(--green-color);
	}
}

.chooseCurrencyBank {
	padding-inline: 57px;
	@media (max-width: 430px) {
		padding-inline: clamp(5px, 6.7vw, 29px);
	}
}
.chooseCurrencyCrypto {
	padding-inline: 29px;
	@media (max-width: 430px) {
		padding-inline: clamp(5px, 2vw, 14px);
	}
}
