.button {
  display: block;
  width: 100%;
  padding: 16px 0 !important;
  border: 1px solid var(--accentColor);
  font-weight: var(--font-weight);
  color: var(--contrastColor) !important;
  background: var(--accentColor) !important;
  border-radius: var(--button-radius);
  text-transform: uppercase;
  transition-duration: 0.2s;
  text-align: center;

  &:disabled {
    background: var(--buttonDisabledColor) !important;
    border-color: var(--buttonDisabledColor) !important;
    color: var(--secondaryTextColor) !important;
    cursor: default;
  }

  &:not(:disabled):hover {
    background: var(--lightgreen-color) !important;
    border-color: var(--accentColor) !important;
  }

  &:not(:disabled):active {
    background: var(--accentColor) !important;
    border-color: var(--accentColor) !important;
  }
}
