.container {
  border-radius: 20px;
  box-shadow: 0 0 24px 0 rgba(90, 89, 89, 0.1);
  width: 100%;
  overflow: hidden;
  max-height: 760px;
  background-color: var(--blockColor);
  .header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    box-shadow: 0 0 3px 0 rgba(40, 46, 34, 0.16);
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    .avatar {
      box-shadow: 0px 0px 8px 0px #282e221f;
      padding: 8px;
      border-radius: 50%;
    }
    margin-bottom: 5px;
  }
  .headerTitle {
  }
  .body {
    display: flex;
    flex-direction: column;
  }
}
