.container {
  position: relative;
  padding: 14px 24px;
  width: 100%;
  .inputContainer {
    height: 52px;
    cursor: text;
    &:has(.input:focus) {
      border: 1px solid var(--accentColor);
    }
    border-radius: 12px;
    border: 1px solid var(--uiKitBorderColor);

    display: flex;

    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;

    .input {
      margin-right: 5px;
      width: 100%;
      border: none;
      flex-grow: 1;
      background-color: transparent;
      caret-color: var(--accentColor);
      color: var(--textColor);
      &::placeholder {
        color: var(--secondaryTextColor);
      }
    }
  }
}
.imageInput {
  margin-right: 7px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  ::-webkit-file-upload-button {
    cursor: pointer;
  }
  input[type="file"] {
    cursor: pointer;
  }
  .imageInput {
    cursor: pointer !important;
    pointer-events: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}
.send {
  z-index: 1;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  &:disabled {
    cursor: default;
  }
  &:not(:disabled) {
    path {
      fill: var(--accentColor);
    }
  }
}
.divider {
  background-color: var(--uiKitBorderColor);
  width: 4px;
  height: 24px;
  border-radius: 5px;
  margin-right: 7px;
}
